doctype html
head
  meta(name='viewport' content='width=device-width')
  meta(http-equiv='Content-Type' content='text/html; charset=UTF-8')
  title Smart Rabbit
div(style='height:100%;margin:0;padding:0;width:100%;background-color:#ffffff')
  center
    table(align='center' border='0' cellpadding='0' cellspacing='0' height='100%' width='100%' style='border-collapse:collapse;height:100%;margin:0;padding:0;width:100%;background-color:#ffffff')
      tbody
        tr
          td(align='center' valign='top' style='height:100%;margin:0;padding:0;width:100%;border-top:0')
            table(border='0' cellpadding='0' cellspacing='0' width='100%' style='border-collapse:collapse')
              tbody
                tr
                  td(align='center' valign='top' style='background-color:#ffffff;background-image:none;background-repeat:no-repeat;background-position:center;background-size:cover;border-top:0;border-bottom:0;padding-top:9px;padding-bottom:9px')
                    table(align='center' border='0' cellpadding='0' cellspacing='0' width='100%' style='border-collapse:collapse;max-width:600px!important')
                      tbody
                        tr
                          td(valign='top')
                            table(border='0' cellpadding='0' cellspacing='0' width='100%' style='border-collapse:collapse')
                              tbody
                                tr
                                  td(valign='top')
                                    table(style='border-collapse:collapse')
                                      tbody
                                        tr
                                          td(style='width:100%;padding-left:20px')
                                            img(height='auto' src='http://localhost:4000/public/resources/images/logo_x5.png' style='border:none;border-radius:0px;display:inline-block;font-size:13px;outline:none;text-decoration:none;width:80px;height:auto')
                                            h1(style='font-size: 24px; margin: 0; color: #2A4D69;')
                                              | Smart Rabbit
                tr
                  td(align='center' valign='top' style='background-color:#ffffff;background-image:none;background-repeat:no-repeat;background-position:center;background-size:cover;border-top:0;border-bottom:0;padding-bottom:0')
                    table(align='center' border='0' cellpadding='0' cellspacing='0' width='100%' style='border-collapse:collapse;max-width:600px!important')
                      tbody
                        tr
                          td(valign='top')
                            table(border='0' cellpadding='0' cellspacing='0' width='100%' style='min-width:100%;border-collapse:collapse')
                              tbody
                                tr
                                  td(valign='top')
                                    table(align='left' border='0' cellpadding='0' cellspacing='0' style='max-width:100%;min-width:100%;border-collapse:collapse' width='100%')
                                      tbody
                                        tr
                                          td(style='padding:18px 18px 9px;line-height:150%;color:#4d4d4d;font-family:Helvetica;font-size:18px;text-align:left')
                                            strong
                                              span
                                                | H&oacute;a &dstrok;&#x1A1;n &dstrok;i&#x1EC7;n t&#x1EED; Smart
                                                | Rabbit
                                        tr
                                          td(style='padding:9px 18px 0px;line-height:150%;color:#4d4d4d;font-family:Helvetica;font-size:14px;text-align:left')
                                            span
                                              | Ch&acirc;n th&agrave;nh c&#x1EA3;m &#x1A1;n Qu&yacute; kh&aacute;ch
                                              | &dstrok;&atilde; s&#x1EED; d&#x1EE5;ng d&#x1ECB;ch v&#x1EE5; c&#x1EE7;a Smart
                                              | Rabbit.
                                              br
                                              br
                tr
                  td(align='center' valign='top' style='background-color:#ffffff;background-image:none;background-repeat:no-repeat;background-position:center;background-size:cover;border-top:0;border-bottom:0;padding-bottom:9px')
                    table(align='center' border='0' cellpadding='0' cellspacing='0' width='100%' style='border-collapse:collapse;max-width:600px!important')
                      tbody
                        tr
                          td(valign='top')
                            table(border='0' cellpadding='0' cellspacing='0' width='100%' style='min-width:100%;border-collapse:collapse')
                              tbody
                                tr
                                  td(valign='top')
                                    table(align='left' border='0' cellpadding='0' cellspacing='0' style='max-width:100%;min-width:100%;border-collapse:collapse' width='100%')
                                      tbody
                                        tr
                                          td(valign='top' style='padding-top:0;padding-right:18px;padding-bottom:9px;padding-left:18px;word-break:break-word;color:#202020;font-family:Helvetica;font-size:16px;line-height:150%;text-align:left')
                                            strong
                                              font(color='#8f8e94')
                                                span(style='font-size:12px') TH&Ocirc;NG TIN H&Oacute;A &Dstrok;&#x1A0;N
                                            table(style='overflow-x:auto;width:100%;border-collapse:collapse')
                                              tbody
                                                tr
                                                  td(style='text-align:left')
                                                    span(style='color:#8f8e94;font-size:13px') D&#x1ECB;ch v&#x1EE5;
                                                  td(style='text-align:right')
                                                    span(style='color:#4d4d4d;font-size:13px') #{category}
                                                tr
                                                  td(style='text-align:left')
                                                    span(style='color:#8f8e94;font-size:13px') Ng&#x1B0;&#x1EDD;i d&ugrave;ng
                                                  td(style='text-align:right')
                                                    span(style='color:#4d4d4d;font-size:13px') #{name}
                                                tr
                                                  td(style='text-align:left')
                                                    span(style='color:#8f8e94;font-size:13px') S&#x1ED1; &dstrok;i&#x1EC7;n tho&#x1EA1;i
                                                  td(style='text-align:right')
                                                    span(style='color:#4d4d4d;font-size:13px') #{phone}
                            table(border='0' cellpadding='0' cellspacing='0' width='100%' style='min-width:100%;border-collapse:collapse;table-layout:fixed!important')
                              tbody
                                tr
                                  td(style='min-width:100%;padding:5px 18px 0px')
                                    table(border='0' cellpadding='0' cellspacing='0' width='100%' style='min-width:100%;border-top:1px dashed #eaeaea;border-collapse:collapse')
                                      tbody
                                        tr
                                          td
                                            span
                            table(border='0' cellpadding='0' cellspacing='0' width='100%' style='min-width:100%;border-collapse:collapse')
                              tbody
                                tr
                                  td(valign='top' style='padding-top:9px')
                                    table(align='left' border='0' cellpadding='0' cellspacing='0' style='max-width:100%;min-width:100%;border-collapse:collapse' width='100%')
                                      tbody
                                        tr
                                          td(valign='top' style='padding-top:0;padding-right:18px;padding-bottom:9px;padding-left:18px;word-break:break-word;color:#202020;font-family:Helvetica;font-size:16px;line-height:150%;text-align:left')
                                            strong
                                              font(color='#8f8e94')
                                                span(style='font-size:12px') CHI TI&#x1EBE;T GIAO D&#x1ECA;CH
                                            table(style='overflow-x:auto;width:100%;border-collapse:collapse')
                                              tbody
                                                tr
                                                  td(style='text-align:left')
                                                    span(style='font-size:13px;color:#8f8e94') S&#x1ED1; ti&#x1EC1;n
                                                  td(style='text-align:right')
                                                    span(style='font-size:13px;color:#4d4d4d') #{amount}&dstrok;
                                                tr
                                                  td(style='text-align:left')
                                                    span(style='font-size:13px;color:#8f8e94') Ph&iacute; giao d&#x1ECB;ch
                                                  td(style='text-align:right')
                                                    span(style='font-size:13px;color:#4d4d4d') Mi&#x1EC5;n ph&iacute;
                            table(border='0' cellpadding='0' cellspacing='0' width='100%' style='min-width:100%;border-collapse:collapse;table-layout:fixed!important')
                              tbody
                                tr
                                  td(style='min-width:100%;padding:5px 18px 0px')
                                    table(border='0' cellpadding='0' cellspacing='0' width='100%' style='min-width:100%;border-top:1px dashed #eaeaea;border-collapse:collapse')
                                      tbody
                                        tr
                                          td
                                            span
                            table(border='0' cellpadding='0' cellspacing='0' width='100%' style='min-width:100%;border-collapse:collapse')
                              tbody
                                tr
                                  td(valign='top' style='padding-top:9px')
                                    table(align='left' border='0' cellpadding='0' cellspacing='0' style='max-width:100%;min-width:100%;border-collapse:collapse' width='100%')
                                      tbody
                                        tr
                                          td(valign='top' style='padding-top:0;padding-right:18px;padding-left:18px;word-break:break-word;color:#202020;font-family:Helvetica;font-size:16px;line-height:150%;text-align:left')
                                            table(style='overflow-x:auto;width:100%;border-collapse:collapse')
                                              tbody
                                                tr
                                                  td(style='text-align:left;padding:0px')
                                                    strong
                                                      span(style='color:#8f8e94')
                                                        span(style='font-size:12px') THANH TO&Aacute;N
                                                  td(style='text-align:right;padding:0px')
                                                    span(style='color:#4d4d4d;font-size:18px')
                                                      strong #{amount}&dstrok;
                            table(border='0' cellpadding='0' cellspacing='0' width='100%' style='min-width:100%;border-collapse:collapse')
                              tbody
                                tr
                                  td(valign='top')
                                    table(align='left' border='0' cellpadding='0' cellspacing='0' style='max-width:100%;min-width:100%;border-collapse:collapse' width='100%')
                                      tbody
                                        tr
                                          td(valign='top' style='padding:0px 18px 9px;line-height:125%;word-break:break-word;color:#202020;font-family:Helvetica;font-size:16px;text-align:left')
                                            table(style='overflow-x:auto;line-height:95%;border-collapse:collapse')
                                              tbody
                                                tr
                                                  td(style='text-align:left;padding-right:15px')
                                                    span(style='font-size:12px;color:#8f8e94') Ph&#x1B0;&#x1A1;ng th&#x1EE9;c
                                                  td(style='text-align:left')
                                                    strong
                                                      span(style='color:#8f8e94;font-size:12px') Ti&#x1EC1;n m&#x1EB7;t
                                                tr
                                                  td(style='text-align:left;padding-right:15px')
                                                    span(style='font-size:12px;color:#8f8e94') M&atilde; giao d&#x1ECB;ch
                                                  td(style='text-align:left')
                                                    strong
                                                      span(style='color:#8f8e94;font-size:12px') #{transactionId}
                                                tr
                                                  td(style='text-align:left;padding-right:15px')
                                                    span(style='font-size:12px;color:#8f8e94') Th&#x1EDD;i gian
                                                  td(style='text-align:left')
                                                    strong
                                                      span(style='color:#8f8e94;font-size:12px')
                                                        | #{date} -
                                                        | #{time}
                        tr
                          td(align='center' valign='top' style='background-color:#fafafa;background-image:none;background-repeat:no-repeat;background-position:center;background-size:cover;border-top:0;border-bottom:0;padding-top:9px;padding-bottom:9px')
                            table(border='0' cellpadding='0' cellspacing='0' width='100%' style='min-width:100%;border-collapse:collapse')
                              tbody
                                tr
                                  td(valign='top' style='padding-top:9px')
                                    table(align='left' border='0' cellpadding='0' cellspacing='0' style='max-width:100%;min-width:100%;border-collapse:collapse' width='100%')
                                      tbody
                                        tr
                                          td(valign='top' style='padding-top:0;padding-right:18px;padding-bottom:9px;padding-left:18px;word-break:break-word;color:#656565;font-family:Helvetica;font-size:12px;line-height:150%;text-align:center')
                                            span(style='color:#8f8e94')
                                              span(style='font-size:10px')
                                                | Email n&agrave;y &dstrok;&#x1B0;&#x1EE3;c s&#x1EED; d&#x1EE5;ng
                                                | cho t&agrave;i kho&#x1EA3;n Smart
                                                | Rabbit
                                                strong
                                                  | ${hiddenPhone}.
                                                |                                                         N&#x1EBF;u c&oacute; b&#x1EA5;t k&#x1EF3; khi&#x1EBF;u n&#x1EA1;i
                                                |                                                         v&#x1EC1; d&#x1ECB;ch v&#x1EE5;, qu&yacute; kh&aacute;ch c&oacute;
                                                |                                                         th&#x1EC3; &dstrok;&abreve;ng nh&#x1EAD;p v&agrave;o &#x1EE9;ng
                                                |                                                         d&#x1EE5;ng v&agrave; b&aacute;o c&aacute;o trong
                                                |                                                         m&#x1EE5;c chi ti&#x1EBF;t d&#x1ECB;ch v&#x1EE5;.
                                                |                                                         Xin c&#x1EA3;m &#x1A1;n.
                                                br
