doctype html
head
  meta(name='viewport' content='width=device-width')
  meta(http-equiv='Content-Type' content='text/html; charset=UTF-8')
  title Smart Rabbit
div(style='height:100%;margin:0;padding:0;width:100%;background-color:#ffffff')
  center
    table(align='center' border='0' cellpadding='0' cellspacing='0' height='100%' width='100%' style='border-collapse:collapse;height:100%;margin:0;padding:0;width:100%;background-color:#ffffff')
      tbody
        tr
          td(align='center' valign='top' style='height:100%;margin:0;padding:0;width:100%;border-top:0')
            table(border='0' cellpadding='0' cellspacing='0' width='100%' style='border-collapse:collapse')
              tbody
                tr
                  td(align='center' valign='top' style='background-color:#ffffff;background-image:none;background-repeat:no-repeat;background-position:center;background-size:cover;border-top:0;border-bottom:0;padding-top:9px;padding-bottom:9px')
                    table(align='center' border='0' cellpadding='0' cellspacing='0' width='100%' style='border-collapse:collapse;max-width:600px!important')
                      tbody
                        tr
                          td(valign='top')
                            table(border='0' cellpadding='0' cellspacing='0' width='100%' style='border-collapse:collapse')
                              tbody
                                tr
                                  td(valign='top')
                                    table(style='border-collapse:collapse')
                                      tbody
                                        tr
                                          td(style='width:100%;padding-left:20px')
                                            img(height='auto' src='http://localhost:4000/public/resources/images/logo_x5.png' style='border:none;border-radius:0px;display:inline-block;font-size:13px;outline:none;text-decoration:none;width:80px;height:auto')
                                            h1(style='font-size: 24px; margin: 0; color: #2A4D69;')
                                              | Smart Rabbit
                tr
                  td(align='center' valign='top' style='background-color:#ffffff;background-image:none;background-repeat:no-repeat;background-position:center;background-size:cover;border-top:0;border-bottom:0;padding-bottom:0')
                    table(align='center' border='0' cellpadding='0' cellspacing='0' width='100%' style='border-collapse:collapse;max-width:600px!important')
                      tbody
                        tr
                          td(valign='top')
                            table(border='0' cellpadding='0' cellspacing='0' width='100%' style='min-width:100%;border-collapse:collapse')
                              tbody
                                tr
                                  td(valign='top')
                                    table(align='left' border='0' cellpadding='0' cellspacing='0' style='max-width:100%;min-width:100%;border-collapse:collapse' width='100%')
                                      tbody
                                        tr
                                          td(style='padding:18px 18px 9px;line-height:150%;color:#4d4d4d;font-family:Helvetica;font-size:18px;text-align:left')
                                            strong
                                              span
                                                | Hóa đơn điện tử Smart Rabbit
                                        tr
                                          td(style='padding:9px 18px 0px;line-height:150%;color:#4d4d4d;font-family:Helvetica;font-size:14px;text-align:left')
                                            span
                                              | Chân thành cảm ơn quý khách đã sử dụng dịch vụ của Smart Rabbit
                                              br
                                              br
                tr
                  td(align='center' valign='top' style='background-color:#ffffff;background-image:none;background-repeat:no-repeat;background-position:center;background-size:cover;border-top:0;border-bottom:0;padding-bottom:9px')
                    table(align='center' border='0' cellpadding='0' cellspacing='0' width='100%' style='border-collapse:collapse;max-width:600px!important')
                      tbody
                        tr
                          td(valign='top')
                            table(border='0' cellpadding='0' cellspacing='0' width='100%' style='min-width:100%;border-collapse:collapse')
                              tbody
                                tr
                                  td(valign='top')
                                    table(align='left' border='0' cellpadding='0' cellspacing='0' style='max-width:100%;min-width:100%;border-collapse:collapse' width='100%')
                                      tbody
                                        tr
                                          td(valign='top' style='padding-top:0;padding-right:18px;padding-bottom:9px;padding-left:18px;word-break:break-word;color:#202020;font-family:Helvetica;font-size:16px;line-height:150%;text-align:left')
                                            strong
                                              font(color='#8f8e94')
                                                span(style='font-size:12px') THÔNG TIN HÓA ĐƠN
                                            table(style='overflow-x:auto;width:100%;border-collapse:collapse')
                                              tbody
                                                tr
                                                  td(style='text-align:left')
                                                    span(style='color:#8f8e94;font-size:13px') Dịch vụ
                                                  td(style='text-align:right')
                                                    span(style='color:#4d4d4d;font-size:13px') #{category}
                                                tr
                                                  td(style='text-align:left')
                                                    span(style='color:#8f8e94;font-size:13px') Người dùng
                                                  td(style='text-align:right')
                                                    span(style='color:#4d4d4d;font-size:13px') #{name}
                                                tr
                                                  td(style='text-align:left')
                                                    span(style='color:#8f8e94;font-size:13px') Số điện thoại
                                                  td(style='text-align:right')
                                                    span(style='color:#4d4d4d;font-size:13px') #{phone}
                            table(border='0' cellpadding='0' cellspacing='0' width='100%' style='min-width:100%;border-collapse:collapse;table-layout:fixed!important')
                              tbody
                                tr
                                  td(style='min-width:100%;padding:5px 18px 0px')
                                    table(border='0' cellpadding='0' cellspacing='0' width='100%' style='min-width:100%;border-top:1px dashed #eaeaea;border-collapse:collapse')
                                      tbody
                                        tr
                                          td
                                            span
                            table(border='0' cellpadding='0' cellspacing='0' width='100%' style='min-width:100%;border-collapse:collapse')
                              tbody
                                tr
                                  td(valign='top' style='padding-top:9px')
                                    table(align='left' border='0' cellpadding='0' cellspacing='0' style='max-width:100%;min-width:100%;border-collapse:collapse' width='100%')
                                      tbody
                                        tr
                                          td(valign='top' style='padding-top:0;padding-right:18px;padding-bottom:9px;padding-left:18px;word-break:break-word;color:#202020;font-family:Helvetica;font-size:16px;line-height:150%;text-align:left')
                                            strong
                                              font(color='#8f8e94')
                                                span(style='font-size:12px') CHI TIẾT GIAO DỊCH
                                            table(style='overflow-x:auto;width:100%;border-collapse:collapse')
                                              tbody
                                                tr
                                                  td(style='text-align:left')
                                                    span(style='font-size:13px;color:#8f8e94') Số tiền
                                                  td(style='text-align:right')
                                                    span(style='font-size:13px;color:#4d4d4d') #{amount}&dstrok;
                                                tr
                                                  td(style='text-align:left')
                                                    span(style='font-size:13px;color:#8f8e94') Phí giao dịch
                                                  td(style='text-align:right')
                                                    span(style='font-size:13px;color:#4d4d4d') Miễn phí
                            table(border='0' cellpadding='0' cellspacing='0' width='100%' style='min-width:100%;border-collapse:collapse;table-layout:fixed!important')
                              tbody
                                tr
                                  td(style='min-width:100%;padding:5px 18px 0px')
                                    table(border='0' cellpadding='0' cellspacing='0' width='100%' style='min-width:100%;border-top:1px dashed #eaeaea;border-collapse:collapse')
                                      tbody
                                        tr
                                          td
                                            span
                            table(border='0' cellpadding='0' cellspacing='0' width='100%' style='min-width:100%;border-collapse:collapse')
                              tbody
                                tr
                                  td(valign='top' style='padding-top:9px')
                                    table(align='left' border='0' cellpadding='0' cellspacing='0' style='max-width:100%;min-width:100%;border-collapse:collapse' width='100%')
                                      tbody
                                        tr
                                          td(valign='top' style='padding-top:0;padding-right:18px;padding-left:18px;word-break:break-word;color:#202020;font-family:Helvetica;font-size:16px;line-height:150%;text-align:left')
                                            table(style='overflow-x:auto;width:100%;border-collapse:collapse')
                                              tbody
                                                tr
                                                  td(style='text-align:left;padding:0px')
                                                    strong
                                                      span(style='color:#8f8e94')
                                                        span(style='font-size:12px') THANH TOÁN
                                                  td(style='text-align:right;padding:0px')
                                                    span(style='color:#4d4d4d;font-size:18px')
                                                      strong #{amount}&dstrok;
                            table(border='0' cellpadding='0' cellspacing='0' width='100%' style='min-width:100%;border-collapse:collapse')
                              tbody
                                tr
                                  td(valign='top')
                                    table(align='left' border='0' cellpadding='0' cellspacing='0' style='max-width:100%;min-width:100%;border-collapse:collapse' width='100%')
                                      tbody
                                        tr
                                          td(valign='top' style='padding:0px 18px 9px;line-height:125%;word-break:break-word;color:#202020;font-family:Helvetica;font-size:16px;text-align:left')
                                            table(style='overflow-x:auto;line-height:95%;border-collapse:collapse')
                                              tbody
                                                tr
                                                  td(style='text-align:left;padding-right:15px')
                                                    span(style='font-size:12px;color:#8f8e94') Phương thức
                                                  td(style='text-align:left')
                                                    strong
                                                      span(style='color:#8f8e94;font-size:12px') Tiền mặt
                                                tr
                                                  td(style='text-align:left;padding-right:15px')
                                                    span(style='font-size:12px;color:#8f8e94') Mã giao dịch
                                                  td(style='text-align:left')
                                                    strong
                                                      span(style='color:#8f8e94;font-size:12px') #{transactionId}
                                                tr
                                                  td(style='text-align:left;padding-right:15px')
                                                    span(style='font-size:12px;color:#8f8e94') Thời gian
                                                  td(style='text-align:left')
                                                    strong
                                                      span(style='color:#8f8e94;font-size:12px')
                                                        | #{time}
                        tr
                          td(align='center' valign='top' style='background-color:#fafafa;background-image:none;background-repeat:no-repeat;background-position:center;background-size:cover;border-top:0;border-bottom:0;padding-top:9px;padding-bottom:9px')
                            table(border='0' cellpadding='0' cellspacing='0' width='100%' style='min-width:100%;border-collapse:collapse')
                              tbody
                                tr
                                  td(valign='top' style='padding-top:9px')
                                    table(align='left' border='0' cellpadding='0' cellspacing='0' style='max-width:100%;min-width:100%;border-collapse:collapse' width='100%')
                                      tbody
                                        tr
                                          td(valign='top' style='padding-top:0;padding-right:18px;padding-bottom:9px;padding-left:18px;word-break:break-word;color:#656565;font-family:Helvetica;font-size:12px;line-height:150%;text-align:center')
                                            span(style='color:#8f8e94')
                                              span(style='font-size:10px')
                                                | Email này được sử dụng cho tài khoản Smart Rabbit 
                                                strong
                                                  | #{phone}.
                                                | Nếu có bất kỳ khiếu nại nào về dịch vụ, quý khách có thể, đăng nhập vào ứng dụng và báo cáo trong mục chi tiết dịch vụ. Xin chân thành cảm ơn.
                                                br
